= form_for @sentence do |f|
  - if @sentence.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sentence.errors.count, "error")} prohibited this sentence from being saved:"
      %ul
        - @sentence.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :words
    %br
    = f.text_area :words, rows: 10, cols: 50
  .actions
    = f.submit 'Save', data: { disable_with: 'Save' }
